.wrapper{
  display: flex;
}

.side−bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  /* padding: 0px,20px; */

}

.side-bar-header{
  background-color: #253141;
  height: 100px;
  padding: 0px 20px;
}

.rooms{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0px 20px;  
}


.chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  /* padding: 0px, 40px;  */
}

.chat-header{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0px 40px; 
}

.chat-messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px 40px 0px;
}

.chat-form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px, 40px;
}